
.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px; 
  gap: 10px;
   background-image: linear-gradient(to right, #2E3192, #1BFFFF);
 background-image: linear-gradient(120deg, #00f2fe 0%, #4facfe 50%, #000000 100%), radial-gradient(circle at 80% 20%, #7f00ff, transparent 50%);
 background-image: radial-gradient(circle at top left, #ff9a9e, transparent 50%), radial-gradient(circle at bottom right, #fecfef, transparent 50%), linear-gradient(135deg, #a1c4fd, #c2e9fb);
 background-image: 
  radial-gradient(circle at 20% 20%, #ff416c 0%, transparent 40%),
  radial-gradient(circle at 80% 40%, #ff8c00 0%, transparent 50%),
  radial-gradient(circle at 40% 80%, #7f00ff 0%, transparent 60%),
  radial-gradient(circle at 90% 90%, #00f2fe 0%, transparent 40%),
  linear-gradient(135deg, #1e0034 0%, #0d001a 100%);
}

.card {
    width: 280px;
    background-color: aliceblue;
    height: 415px;
    border-radius: 15px;
    padding: 26px 22px;
}
.top {
    display: flex;
    justify-content: space-between;
}
.top img {
    margin-top: 20px;
    height: 125px;
    width: 125px;
    border: none;
    border-radius: 50%;
}
.top button {
    height: 25px;
    padding: 6px 9px;
    border-radius: 14px;
    border: none;
    background-color: rgba(4, 172, 38, 0.824);
    color: whitesmoke;
}
.top p {
    font-weight: 500;
    font-size: 17px;
    
}
.center {
    text-align: center;
    margin: 8px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.center h2 {
    font-weight: 500;
    
}
.center h5{
    color: grey;
    font-weight: 400;
}
.center p {
    margin-top: 6px;
    font-size: 13px;
    color :rgb(38, 38, 247);
}
.tag {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    gap: 15px;

}
.tag1 {
    padding: 6px 15px;
    border: 1px solid grey;
    background-color:white;
    border-radius: 14px;
}
#tag2 {
        padding: 6px 15px;
    border: 1px solid grey;
    background-color:rgb(4, 122, 248);
    border-radius: 14px;
    color: white;
}

.para {
    color: grey;
    margin-top: 18px ;
    text-align: center;
}
.bottom {
     width: 94px;
     margin: 33px auto 0 ;
    border-top: 1.5px solid #dadada;
}
.buttombtn {
    text-align: center;
    margin: 24px auto 0;
}
#profile {
      border: none;
      font-weight: 600;

}